/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family: 'Press Start 2P', fantasy;
  --second-family: 'Inter', sans-serif;
  --font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --font-size-title: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --sparks-fill-color: #f00;
  --sparks-fill-color-transparent: rgb(255 0 0 / 0%);
}
